body {
  background-color: #eae7dc;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#root {
  /* background-color: #1f2833;
  color: #C5C6C7; */
  background: #EAE7DC;
  color: #575752;
  height: 100vh;
}

p, h3, h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.navBarStyle {
  /* color: #C5C6C7;
  background: #0B0C10; */
  color: #575752;
  background: #d8c3a5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px #e85a4f;
}

.navBarChild {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: bolder;

}

.navBarChild.active {
  /* background-color: rgba(69, 162, 157, 0.26); */
  /* color: white; */
  /* box-shadow: 0px 4px #66FCF1; */
  background-color: #eae7dc;
  color: #e85a4f;
  box-shadow: 0px 4px #e85a4f;
  border-radius: 2px;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.textParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.joinForm {
  color: #575752;
  text-decoration: none;
  font-size: 32px;
  border: 0;
  border-bottom: 1px #e98074 dashed;
  border-top: 1px #e98074 dashed;
  background: none;
  font-weight: bolder;
  font-family: inherit;
  padding: 0;
}

.joinForm::before{
  margin-left: auto;
}

.joinForm::after, .joinForm::before {
  content: '';
  width: 0%;
  height: 6px;
  background: #e85a4f;
  display: block;
  transition: 0.5s;
}

.joinForm:hover {
  color: #e85a4f;
  transition: 0.5s;
  border: none;
  border-bottom: 1px rgba(233, 128, 116, 0.027);
  border-top: 1px rgba(233, 128, 116, 0.027);
}

.joinForm:hover::after, .joinForm:hover::before {
  width: 100%;
}

.h1Title {
  font-size: 50px;
}


form {
  display: flex;
  justify-content: center;
  align-items: center;

}

fieldset {
  display: flex;
  flex-direction: column;
  background-color: #eae7dc;
  align-items: center;
  border: 5px solid #e85a4f;
  margin-top: 20px;
}

fieldset.input{
  width: 100%;
}

legend {
  background-color: #eae7dc;
  border: 5px solid #e85a4f;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #575752;
  font-size: 24px;
}

.formDivWrapper {
  background-color: #eae7dc;
  color: #575752;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
  width: 80%;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;

}



.formDivWrapper select {
  background-color: #eae7dc;
  color: black;
  border: 0;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 1px 1px #e98074;
  border: 2px solid #e85a4f;

}

.formDivWrapper select option:first-child {
  background-color: lightgray;
  color: gray;
}

.formDivWrapper select option:not(:first-child) {
  background-color: #eae7dc;
  color: black;
}

.dateWrapper {
  background-color: #eae7dc;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;
}

 
label {
  color: #575752
}

.dateWrapper input {
  background-color: transparent;
  padding: 8px;
  height: 17px;
  border: 2px solid #e85a4f;
}

.dateWrapper input#date {
  background-color: #eae7dc;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;
  width: 176px;
}

.timeWrapper {
  background-color: #eae7dc;
  color: #575752;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;
}

.timeWrapper input {
  background-color: #eae7dc;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;
  height: 17px;
  width: 176px;
}

.sleepWrapper {
  background-color: #eae7dc;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;



}

.sleepWrapper input{
  background-color: #eae7dc;
  padding: 8px;
  border-radius: 10px;
  width: 200px;
  border: 0;
  box-shadow: 1px 1px #e98074;
  height: 17px;
  border: 2px solid #e85a4f;


}

.noteWrapper {
  background-color: #EAE7DC;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
  border: 2px solid #e85a4f;
  box-shadow: 1px 1px #e98074;

}

.noteWrapper textarea{
  background-color: #eae7dc;
  border: 2px solid #e85a4f;
  border-radius: 10px;
  padding: 6px 6px;
  margin-top: 5px;
  font-family: inherit;
  box-shadow: 1px 1px #e98074;
  
}

#formSubmit {
  border-radius: 10px;
  padding: 20px;
  font-size: 36px;
  font-weight: bolder;
  border: 0;
  background-color: #e85a4f;
  border: 2px solid #e85a4f;

  color: #eae7dc;
}

#formSubmit:hover{
  background-color: #EAE7DC;
  color: #e85a4f;
  border: 2px solid #e85a4f;
  transition: .4s;
  cursor: pointer;
}

/* Log styling starts */
.logContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #d8c3a5;
  color: #575752;
  flex-direction: row;
  align-items: center;
  border: 2px solid #e85a4f;
  margin: 0;
  justify-content: space-evenly;
  padding-top: 10px;
}

.logBoxSmall {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAE7DC;
  margin-bottom: 15px;
  border: 2px solid #e85a4f;
  width: clamp(300px, 45%, 400px);
  flex-direction: column;
  align-items: center;
}

.postBtns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.deleteLog{
  background-color: #e85a4f;
  color: #EAE7DC;
  margin-right: 10px;
  padding: 10px;
}

.logInfo{
  background-color: gold;
  padding: 10px;
}


/* Log styling ends */



/* long code for the postinfo page */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #EAE7DC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupInner h1, h3 {
  margin: 0;
  padding: 0;
}

.popupInner .close-btn {
  display: flex;
  padding: 10px;
  color: #eae7dc;
  background-color: #e98074;
  margin-top: 10px;
  width: 200px;
  font-size: large;
  justify-content: center;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

/* end of postinfo page code*/